body {
    color: #eee;
	background: black;
	text-align: center;
}

#message {
    color: #000;
	background: #fff;
	border-radius: 10px;
	font-size: 30px;
	min-height: 30px;
	margin: 20px auto;
	padding: 20px;
	width: 300px;
}

#messages-box {
    margin: 30px;
}

.hidden {
    display: none;
}

@-moz-keyframes backandforth1 {
    from {
        margin-left: 10%;
        margin-top: -2%;
    }
    to {
        margin-left: -10%;
        margin-top: 2%;
    }
}

.shaking1 {
    -moz-animation-duration: 0.1s;
    -moz-animation-name: backandforth1;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
}

@-moz-keyframes backandforth2 {
    from {
        margin-top: -1%;
    }
    to {
        margin-top: 1%;
    }
}

.shaking2 {
    -moz-animation-duration: 0.1s;
    -moz-animation-name: backandforth2;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
}

@-moz-keyframes backandforth3 {
    from {
        width: 220px;
    }
    to {
        width: 180px;
    }
}

.shaking3 {
    -moz-animation-duration: 0.1s;
    -moz-animation-name: backandforth3;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
}